/* Computer */
/* Component */
html{
  font-family: 'Noto Sans TC', sans-serif!important;
  /* font-family: 'Monoton', cursive; */
  width: 100%;
}

.mobile{
  display: none;
}

h1{
  font-size: 4rem!important;
}

h2{
  font-size: 2.5rem!important;
}

p{
  font-size: 1rem;
  font-family: 'Noto Sans TC', sans-serif!important;
  font-weight: bold;
  color: #333333;
}

.container-fluid{
  padding: 0;
}

.row{
  padding: 0;
  margin: 0;
}

a:hover{
  text-decoration: none;
}

/* Navbar */
.navbar{
  background-color: #fff;
}

.navlogo{
  width: 60px;
  height: 60px;
}

.navbar-light .navbar-nav .nav-link{
  color: #06a29a;
}

.navbar-light .navbar-nav .show>.nav-link {
  color: #06a29a;
}

.dropdown-item{
  color: #06a29a;
} 

.dropdown-item:focus, .dropdown-item:hover {
  color: #06a29a;
  text-decoration: none;
  background-color: #9cddea;
}

.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
  color: #06a29a;
}

.nav-item{
  border-bottom: 3px solid transparent;
  transition-duration: .5s;
}

.nav-item:hover{
  border-bottom: 3px solid #9cddea;
}

.navbar-toggler-icon:focus{
  outline: transparent;
}

.navbar-toggler:focus{
  outline: transparent;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.dropdown-menu {
  border: transparent;
}


/* Header */
/* Hero */

/* .main{
  margin-top: 60px;
} */
.banner{
  width: 100%;
  /* height: 820px; */
  height: 1000px;
  overflow: hidden;
}
.banner img{
  /* width: 110%;
  height: 125%;
  object-fit: cover;
  object-position: center; */
  width: 100%;
  height: 125%;
  object-fit: cover;
  object-position: center;
}

.banner_logo{
  width: 6rem;
  margin-bottom: 40px;
}

/* Modal↓↓↓*/
.banner{
  position: relative;
}

.close{
  color: #826ca0;
}

.modal-content{
  border: 8px solid #ec7e2d;
}

.modal-title{
  color: #06a29a;
}

.modal-header{
  padding: 2rem;
  border-bottom: 2px solid #06a29a;
}

.modal-body{
  padding: 2rem;
}

.btn-success{
  background-color:#06a29a;
  border-color:#06a29a;
  transition-duration: .3s;
}

.btn-success:hover{
  border: 2px solid #ffffff;
  background-color:#038a83;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}

.btn-warning{
  background-color:#ec7e25;
  border-color:#ec7e25;
  transition-duration: .3s;
}

.btn-warning:hover{
  border: 2px solid #ffffff;
  background-color:#cc6e20;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}

.btn-primary{
  background-color:#066eb8;
  border-color: #066eb8;
  transition-duration: .3s;
}

.btn-primary:hover{
  border: 2px solid #ffffff;
  background-color:#0460a1;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}

.modal_01, 
.modal_02,
.modal_03,
.modal_04,
.modal_05,
.modal_06,
.modal_07,
.modal_08,
.modal_09{
  border-radius: 50px;
}

.modal_01 p, 
.modal_02 p,
.modal_03 p,
.modal_04 p,
.modal_05 p,
.modal_06 p,
.modal_07 p,
.modal_08 p,
.modal_09 p{
  color: #ffffff;
  margin: 0 1vw;
}

.modal_01{
  position: absolute;
  top: 180px;
  left: 40vw;
}

.modal_02{
  position: absolute;
  top: 250px;
  left: 31vw;
}

.modal_03{
  position: absolute;
  top: 380px;
  left: 54vw;
}

.modal_04{
  position: absolute;
  top: 550px;
  left: 55vw;
}

.modal_05{
  position: absolute;
  top: 650px;
  /* left:64vw; */
  left: 69vw;
}

.modal_06{
  position: absolute;
  top: 780px;
  left: 53vw;
}

.modal_07{
  position: absolute;
  top: 420px;
  left: 25vw;
}

.modal_08{
  position: absolute;
  top: 450px;
  left: 74vw;
}

.modal_09{
  position: absolute;
  top: 700px;
  left: 78vw;
}

/* Modal↑↑↑ */

/* 上面物件 */
.hero_front{
  position: relative;
  top: -30rem;
  left: 6rem;
  width: 50%;
}

/* banner_title 對位↓↓↓ */
.hero{
  position: absolute;
}
/* 對位↑↑↑ */
.banner_title{
  /* font-family: 'Monoton', cursive;  */
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 900;
  font-size: 12rem;
  /* color: #06a29a;  */
  color: #6cb5c2; 
  /* position: relative;
  left: 2rem; */

}

/* Switch按鈕 ↓↓↓ */
.btn{
  padding: 0;
  /* margin-top: 2rem; */
  margin-left: -2rem;
}

.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #826ca0;
}
.btn-toggle,
.btn-toggle.active {
  background-color: #826C9E;
}
.btn-toggle.btn-switch {
  margin: 0 5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.btn-toggle.btn-switch:focus,
.btn-toggle.btn-switch.focus,
.btn-toggle.btn-switch:focus.active,
.btn-toggle.btn-switch.focus.active {
  outline: none;
}
.btn-switch:before,
.btn-toggle.btn-switch:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-switch:before {
  content: 'EN';
  left: -4rem;
}
.btn-switch:after {
  content: 'CN';
  right: -4rem;
  opacity: 0.5;
}
.btn-switch > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #B6D58D;
  transition: left 0.25s;
}
.btn-switch.active {
  transition: background-color 0.25s;
}
.btn-switch.active > .handle {
  left: 2.8125rem;
  transition: left 0.25s;
}
.btn-switch.active:before {
  opacity: 0.5;
}
.btn-switch.active:after {
  opacity: 1;
}

/* Switch按鈕↑↑↑ */


/* Section */
/* about */
/* about區域 對位↓↓↓ */
.hero{
  position: relative;
}
/* 對位↑↑↑ */
.about{
  position: absolute;
  top: 780px;
  width: 100%;
  /* height: 780px; */
  height: 1050px;
  background-image: url(../images/banner05.jpg) center center;
  background-attachment: fixed;
  
}

.about_brand{
  width: 80px;
  height: auto;
  /* margin: 3rem auto 1.5rem; */
  margin: 0 auto 1.5rem;
}

.about_brand img{
  width: 100%;
}

.about_sinto{
  text-align: center;
  width: 100%;
  margin: 3rem auto;
}

/* about_sinto下的h2 */
.about_sinto h2{
    color: #00a29a;
    margin: 0 auto;
}

/* about_sinto 水平線↓↓↓ */
.about_sinto h2 {
  display: flex;
  flex-direction: row;
}

.about_sinto h2:before,
.about_sinto h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid #00a29a;;
  margin: auto 1.5rem;
}
/* about_sinto 水平線↑↑↑ */
			
.about_inner{
  margin: 0 auto;
}

/* 了解更多按鈕↓↓↓ */
.btn_more{
  width: 300px;
  /* height: 85px; */
  border: solid 3px #016eb6;
  margin: 2rem auto ;
  font-size: 1.2rem;
  border-radius: 3px;
  background-color: #ffffff;
  transition-duration: .5s;
}

.btn_more:hover{
  background-color: #016eb6;
  box-shadow: inset 0 0 0.3em 0 ;
}

.btn_more:hover .btn_p{
  color: #ffffff;
}

.btn_p{
  margin: 24px 100px;
  color: #016eb6;
}
/* 了解更多按鈕↑↑↑ */

/* Section */
/* Download Picture Buttons */
/* pic_btns區域 對位↓↓↓ */
.about{
  position: relative;
}

.pic_btns{
  position: absolute;
  /* top: 1550px; */
  /* top: 1850px; */
  top: 2030px;
  width: 100%;
}

.about{
  position: absolute;
  /* top: 780px; */
  top: 960px;
  width: 100%;
  /* height: 780px; */
  background: url(../images/banner05.jpg) center center;
  background-attachment: fixed;
}
.about{
  position: absolute;
  /* top: 780px; */
  top: 960px;
  width: 100%;
  /* height: 780px; */
  /* height: 1050px; */
  background-image: url(../images/banner05.jpg) center center;
  background-attachment: fixed;
}

/* 對位↑↑↑ */

/* 圖片按鈕 ↓↓↓ */
.box{
  border: 2px solid #ffffff;
  height: 650px;
}

.box:first-child{
  background: url(../images/pic01.jpg);
  background-size: cover;
}

.box:last-child{
  background: url(../images/pic02.jpg);
  background-size: cover;
}
/* 圖片按鈕 ↑↑↑ */

/* 圖片按鈕hover ↓↓↓ */
.box{
  border: 2px solid #ffffff;
  width: 100%;
  height: 650px;
  transition-duration: .5s;
  overflow: hidden;
  text-decoration: none;
}

.box:hover{
  background-color: #826ca0ab;
  background-blend-mode: multiply;
  background-size: cover;
}

/* 圖片按鈕hover ↑↑↑ */

.tagbox{
  padding: 0;
  margin-bottom: 20px;
}

.tagbox img{
  width: 100%;
  padding: 0px;
} 

.text_box{
  width: 100%;
  height: 650px;
  color:#333333;
}

.box_text{
  display: none;
  /* margin: auto 0 auto 0px; */
  margin: auto 15vw auto 0px;
  font-size: 2rem;
  color: #ffffff;
  transition-duration: .5s;
  width: 100%;
  text-align: center;
}

.box:hover .box_text {
  display: block;
}

/* Section */
/* Footer */
/* Footer區域 對位↓↓↓ */
.main{
  position: relative;
  box-sizing: border-box;
}

.footer{
  position: absolute;
  /* top: 2500px; */
  top: 2680px;
  width: 100%;
  height: 80px;
}
/* Footer區域 對位↑↑↑ */

.footer{
  background-color: #00a29a;
}

/* .btn_fb{ 
  width: 85px;
  height: 40px;
  padding: 10px 35px;
  border: solid 3px #826c9e;
  background-color: #ffffff;
  text-align: center;
  border-radius: 50px;
  margin-right: 80px;
  transition-duration: .5s;
} */

/* .btn_fb{ 
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  border: solid 3px #826c9e;
  background-color: #ffffff;
  text-align: center;
  border-radius: 3px;
  margin-right: 80px;
  transition-duration: .5s;
} */

/* .btn_fbp{
  color: #826c9e;
  margin-bottom: 0;
  transition-duration: .5s;
}

.btn_fb:hover .btn_fbp{
  color:#ffffff;
}

.btn_fb:hover{
  background-color:#826c9e;
} */

.icon_fb{ 
  width: 50px;
  height: 50px;
  padding: 0 10px;
  text-align: center;
  margin-right: 60px;
}

.icon_fb img{
  width: 100%;
}

h6{
  margin: 30px auto 30px 80px;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}

/* Footer */
/* 992 */
@media(max-width: 992px){
  .computer{
    display:none;
  }

  .mobile{
    display: block;
  }

  
/* Navbar */
  .justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-start!important;
  }

.banner img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: 37% 50%;
}

/* banner 上面物件 */

  .hero_front{
    left: 3rem;
    top: -45rem;
  }

  .banner_logo {
    width: 6rem;
    margin-top: 30px;
}

/* Section */
/* Hero  */
.hero{
  height: 700px;
}

/* Section */
/* Mobile show  */
  .m_pic{
    width: 100%;
  }

/* 綠色區域 */
  .tag_area_g{
    background-color: #06a29a;
  }
  .btn_tag_g{
    width: 80%;
    height: 85px;
    border: solid 3px #00a29a;
    background-color: #ffffff;
    margin: 0 0 79px;
    padding: 26px 20px 25px 29px;
  }

  .btn_tag_g p{
    color:  #00a29a;
    font-style: 1rem;
    font-weight: bold;
  }

/* 橘色區域 */
  .tag_area_o{
    background-color: #ec7e2d;
  }
  .btn_tag_o{
    width: 80%;
    height: 85px;
    border: solid 3px #ec7e2d;
    background-color: #ffffff;
    margin: 0 0 79px;
    padding: 26px 20px 25px 29px;
  }

  .btn_tag_o p{
    color:  #ec7e2d;
    font-style: 1rem;
    font-weight: bold;
  }

/* 藍色區域 */
  .tag_area_b{
    background-color: #066eb8;
  }
  .btn_tag_b{
    width: 80%;
    height: 85px;
    border: solid 3px #066eb8;
    background-color: #ffffff;
    margin: 0 0 79px;
    padding: 26px 20px 25px 29px;
  }

  .btn_tag_b p{
    color:  #066eb8;
    font-size: 1rem;
    font-weight: bold;
  }

/* .mobile_show區域 對位↓↓↓ */
.m_about{
  position: relative;
  /* height: 800px; */
  height: 1300px;
}
.mobile_show{
  position: absolute;
  /* top: 1500px; */
}
/* .mobile_show區域 對位↑↑↑ */

.about{
  top: 0px;
  /* height: 1380px; */
  height: 100%;
}

/* Section */
/* Download Picture Buttons  */
/* .mobile_show區域 對位↓↓↓ */
.m_show{
  position: relative;
}

.m_pic_btns{
  position: absolute;
  /* top: 450vh; */
}
/* .mobile_show區域 對位↑↑↑ */
/* 圖片按鈕 ↓↓↓ */
.m_box{
  border: 2px solid #ffffff;
  height: 650px;
}

.m_box:first-child{
  background: url(../images/pic01.jpg);
  background-size: cover;
}

.m_box:last-child{
  background: url(../images/pic02.jpg);
  background-size: cover;
}
/* 圖片按鈕 ↑↑↑ */

/* 圖片按鈕hover ↓↓↓ */
.m_box{
  border: 2px solid #ffffff;
  width: 100%;
  height: 250px;
  transition-duration: .5s;
  overflow: hidden;
  text-decoration: none;
  background-color: #826ca0ab;
  background-blend-mode: multiply;
  background-size: cover;
}

.m_box:hover{
  background-color: #826ca0ab;
  background-blend-mode: multiply;
  background-size: cover;
}

/* 圖片按鈕hover ↑↑↑ */

.m_tagbox{
  padding: 0;
  margin-bottom: 20px;
}

.m_tagbox img{
  width: 100%;
  padding: 0px;
} 

.m_text_box{
  width: 100%;
  height: 650px;
  color:#333333;
}

.m_box_text{
  /* display: none; */
  margin: auto 10rem auto 0px;
  font-size: 2rem;
  color: #333333;
  transition-duration: .5s;
  width: 100%;
  text-align: center;
}

/* Footer區域 對位↓↓↓ */
.m_pic_btns{
  position: relative;
}

.m_footer{
  position: absolute;
  width: 100%;
  height: 140px;
  background-color: #00a29a;
}
/* Footer區域 對位↑↑↑ */

.m_main{
  width: 100%;
}

.icon_fb{ 
  width: 50px;
  height: 50px;
  padding: 0 10px;
  text-align: center;
  margin-right: 0px;
}

.icon_fb img{
  width: 100%;
}
}


/* */
/* 576 */
@media(max-width: 576px){
  .computer{
    display: none;
  }

  .mobile{
    display: block;
  }

  .hero_front{
    left: 1rem;
    top: -36rem;
  }

  .btn_more{
    width: 250px;
  }

  .btn_p{
    margin: 24px 0px;
  }
  
  .box{
    height: 250px;
  }
  /* Section */
  /* Footer */
  /* 圖片按鈕 ↓↓↓ */
  .btn_fb{ 
    margin-right: 20px;
  }

  h6{
    margin: 30px auto 30px 20px;
  }
  /* 圖片按鈕 ↑↑↑ */

  h2{
    font-size: 2.5rem!important;
  }

  .banner_logo{
    width: 4rem;
  }

  }
  